<template>
    <div>
        <Header>
            <h1>Routing in Vue.js</h1>
            <h2 slot="subtitle">Slots</h2>
        </Header>

        <div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Header from './Header'

    export default {
        data() {
            return {
                mode: 'view'
            }
        },
        computed: {
            componentName() {
                return this.mode === 'view' ? 'ProductView' : 'ProductAdd';
            }
        },
        components: {
            Header,
        },
    }
</script>
