<template>
    <div>
        <slot name="subtitle"></slot>
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "Header"
    }
</script>

<style scoped>

</style>
