<template>
    <div>
        <router-link :to="{name: 'add', query: { text: 'HI' }}">Add Page</router-link>
        <h2>{{test | reverse}}</h2>
        <ProductItem v-for="(product, i) in products"
                     :key="product.id"
                     :product="product" :index="(i+1)">
        </ProductItem>
    </div>
</template>

<script>
    import ProductItem from './ProductItem';
    import ProductService from './ProductService.js';
    import {mapGetters, mapActions, mapMutations, mapState} from 'Vuex';

    export default {
        data() {
            return {
                test: '0123456789'
            }
        },
        computed: {
            // ...mapGetters({
            //     products: 'getProducts'
            // }),
            ...mapState(['products'])
        },
        // computed: {
        //     products() {
        //         // return this.$store.state.products;
        //         return this.$store.getters.getProducts;
        //     }
        // },
        components: {
            ProductItem
        },
        methods: {
            ...mapActions(['loadProducts']),
        },
        created() {
            // this.products = ProductService.products;
            // this.$store.commit('loadProducts', ProductService.products);
            // this.$store.dispatch('loadProducts', ProductService.products);
            this.loadProducts(ProductService.products);
        }
    }
</script>

<style scoped>

</style>
