<template>
    <div>
        <h2>Product Details</h2>

        <router-link :to="{name: 'index'}">List Page</router-link>

        <form>
            <label>Title
                <span>{{product.title}}</span>
            </label>

            <label>Price
                <span>{{product.price}}</span>
            </label>

            <label>Quantity
                <span>{{product.qt}}</span>
            </label>
        </form>

        <router-link to="/view/1">GO TO PRODUCT #1</router-link>
    </div>

</template>

<script>
    import ProductService from './ProductService.js'

    export default {
        props: ['staticText'],
        data() {
            return {
                product: {}
            }
        },
        methods: {
            initProduct() {
                ProductService.viewDetails(this.$route.params.id);
            }
        },
        created() {
            ProductService.$on('viewDetails', product => {
                this.product = product;
            });
        },
        mounted() {
            this.initProduct();
        },
        watch: {
            '$route.params.id'(id) {
                this.initProduct();
            }
        },
    }
</script>

<style scoped>

</style>
