<template>
    <div>
        <router-link to="/">List Page</router-link>

        <form @submit.prevent="add">
            <label>Title {{$route.query.text}}
                <input type="text" v-model="product.title">
            </label>

            <label>Price
                <input type="text" v-model="product.price">
            </label>

            <label>Quantity
                <input type="text" v-model="product.qt">
            </label>

            <button type="submit">Add</button>
        </form>
    </div>
</template>

<script>
    import ProductService from './ProductService'
    export default {
        data() {
            return {
                product: {
                    title: '',
                    price: '',
                    qt: ''
                }
            }
        },
        methods: {
            add() {
                let newId = ProductService.addProduct(this.product);
                this.$router.push({name: 'view', params: {id: newId}});
            }
        }
    }
</script>

<style scoped>

</style>