<template>
    <div>
        <h4>{{index}} {{product.title}}</h4>
        <p>{{product.qt}} items for ${{product.price}}</p>
        <a href="#" @click="viewDetails">View Details</a>
    </div>
</template>

<script>
    import ProductService from './ProductService.js'
    export default {
        props: {
            product: {
                type: Object,
                required: true,
            },
            index: Number
        },
        data() {
            return {
            }
        },
        methods: {
            viewDetails() {
                this.$router.push({name: 'view', params: {id: this.product.id}});
            }
        }
    }
</script>

<style scoped>

</style>
